.contact{
    width: 1440px;
height: 2905px;


}
.clas{
 display: flex;
} h1{
    width: 277px;
    height: 64px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40;
    padding: 0px;
    h6{
        width: 525px;
height: 130px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
    }
    p{
        width: 505px;
height: 78px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;
    }
}
.img{
    width: 837px;
height: 609px;

}

